---
import BaseLayout from "../layouts/BaseLayout.astro";
import Cards from "../components/Cards.astro";
import clients from '../data/clients.json'
import projects from "../data/projects.json"
---
<BaseLayout>
	<!-- hero start -->
		<header class="px-5 py-10 md:px-10 lg:px-20 bg-hero-bg bg-no-repeat bg-cover h-screen bg-top flex flex-row text-center justify-center justify-items-center items-center">
			<div class="max-w-3xl flex flex-col gap-y-10 align-middle items-center">
				<h1 class="text-3xl lg:text-6xl lg:leading-[5.5rem] text-white font-bold">Transforming Your Digital Vision into Reality</h1>
				<p class="text-xl lg:text-2xl text-white">We are a team of expert designers and developers who create beautiful, memorable brands and profitable digital experiences for businesses and startups.</p>
				<div class="border-2 border-white text-center px-6 py-2 rounded bg-white text-black w-40 hover:bg-black hover:text-white hover:border ease-in-out duration-300">
					<a href="/contact/">Get in touch</a>
				</div>
			</div>
		</header>
	<!-- hero end -->
	<!-- about start -->
	<div class="px-10 py-20 md:px-20 md:py-30 lg:px-20 lg:py-40">
		<div class="flex flex-col items-center pb-16 gap-y-6 text-center">
			<div>
				<p class="text-md lg:text-2xl pb-4">Studio</p>
				<h2 class="text-xl lg:text-4xl lg:leading-relaxed">Creating profitable digital experiences and memorable brands.<br> Our experts help business owners and startups.</h2>
			</div>
			<div class="border-2 border-black text-center px-6 py-2 rounded bg-black text-white w-40 hover:bg-white hover:text-black hover:border ease-in-out duration-300">
				<a href="/about/">Know More</a>
			</div>
		</div>
		<div>
			<div class="flex flex-col gap-y-9">
				<p class="text-center text-lg">Trusted by leading businesses and startup founders across industries</p>
				<div class="grid grid-cols-3 justify-center justify-items-center items-center gap-8 lg:grid-cols-6 lg:gap-x-20 lg:gap-y-12">
					{clients.map((client)=>(
						<img src={`/assets/clients/${client.logo}.png`} alt={client.name} class="max-w-[90px] lg:max-w-[120px]">
					))}
				</div>
			</div>
		</div>
	</div>
	<!--about end -->
	<!-- projects start -->
	<div class="bg-project-bg bg-no-repeat bg-top bg-cover px-5 py-12 md:px-10 lg:px-20 lg:py-32 ">
		<div class="flex flex-col items-center gap-y-12">
		<h2 class="text-xl lg:text-4xl text-white text-center">Some of recent our projects</h2>
		<div class="grid grid-cols-1 gap-x-4 gap-y-8 justify-items-strech items-strech md:grid-cols-2 lg:grid-cols-3">
			{projects.slice(0, 6).map((project)=>(
				<Cards heading={project.heading} body={project.body} imageUrl={project.imageUrl} url={project.url} />
			))}
        </div>
		<div class="border-2 border-white text-center px-6 py-2 rounded bg-white text-black w-40 hover:bg-black hover:text-white hover:border ease-in-out duration-300">
			<a href="/projects/" class="pt-16">View More</a>
		</div>
	</div>
    </div>
<!--projects end -->
</BaseLayout>